.main-menu {
    padding: 10px 20px;
    display: flex;
    background-color: #222;
    align-items: center;
    height: 60px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    overflow: auto;
}
.main-menu li {
    list-style-type: none;
    margin-right: 20px;
    font-weight: bold;
}
.main-menu li.logo {
    font-weight: bold;
    font-size: 32px;
    padding-right: 60px;
}

.main-menu li a {
    text-decoration: none;
    color: chartreuse;
    font-size: 18px;
    padding: 5px;
    transition: .5s;
}
.main-menu li.rihgt-top a {
    padding: 0;
}

.main-menu li a:hover {
    transition: .5s;
    text-decoration: underline;
}

.main-menu li a.active {
    background-color: chartreuse;
    color: #222;
    border-radius: 5px;
    text-decoration: none;
}

.main-menu li.rihgt-top {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    border: none;
    margin: 0;
}
.main-menu li.rihgt-top a {
    border:none
}