* {margin: 0; padding: 0;}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #444;
    color: #eee;
}

.content {
    padding:20px
}
.content p {
    margin:10px 0
}

button {
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    background-color: chartreuse;
    color: #222;
    border:none;
    outline: none;
    margin: 5px 5px 5px 0;
}
button.disabled {
    opacity: .3;
    cursor:default;
}
button:active {
    background-color: #333;
    color: #fff;
}

.form input, form input {
    font-size: 16px;
    padding: 10px;
    border:solid 1px #aaa;
    outline: none;
    margin: 15px 0;
    border-radius: 6px;
    display: block;
    width: 200px;
}

a {
    color: chartreuse;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0 20px 0;
}

.error {
    margin: 10px 0;
    color: crimson;
}

.request-info {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.request-info span {
    margin: 5px 0;
}
form .twitter {
    display: flex;
    align-items: center;
    position: relative;
}
form .twitter input {
    margin:0 0 10px 0;
    padding-left: 20px;
    width: 190px;
}

form .tip {
    margin-top: -5px;
}

form .twitter:before {
    content: "@";
    color: #aaa;
    position: absolute;
    left: 5px;
    top:13px;
}